:global{
    h2{
        width: 100%;
        height: 40px;
        margin-top: 20px;
        line-height: 40px;
    }
    .arrrrr .ant-modal-content{
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        .ant-modal-header{
            width: 100%;
            height: 55px;
        }
        .ant-modal-body{
            flex:1;
            p{
                margin-top: 20px;
            }
        }
        .ant-modal-footer{
            width: 100%;
            height: 55px;
            button{
                margin: 0px 10px;
            }
        }
    }
    .nav{
        width: 100%;
        height: 50px;
        display: flex;
        input{
            width: 20%;
            margin: 0px  20px;
        }
        button{
            width: 10%;
            margin: 0px 20px;
        }
        .select{
            margin: 0px  20px;
        }
    }
    .ant-modal-close{
        position: absolute;
        top: -15px;
        right: -90px;
    }
}